* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    height: 6rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.fecha-nav{
    display: flex;
   flex-direction: column;
   gap: 1rem;

}

.home-btn {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .nav-list {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: #333;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }

    .nav-list.active {
        left: 0;
    }

    .nav-list li {
        margin: 20px 0;
    }

    .menu-toggle {
        display: flex;
    }
}


.d-none{
    display: none;
}




/* ****************************
 /      form-styles     /
**************************** */

.body-form{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;

    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}






/* ****************************************************************
          /      main-styles     /
******************************************************** */
main {
    margin-top: 1rem;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

/* ****************************
 /      video-home-styles     /
**************************** */

.video-container {
    width: 100%;
    overflow: hidden;
}

video {
    width: 100%;
    height: 30rem;
}





@media (max-width: 768px) {
    
    video {
        height: 20rem; 
    }
}



.section-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    
}

.section1{
    align-items: center;
    justify-content: center;
    width: 50rem;
}

@media (max-width: 768px) {
    .section1 {
        width: 100vw; 
        height: auto;
    }
    .section-wrap {
        
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}


.section-pair {
    margin-top: 10rem;
   margin-bottom: 10rem; 
    
}


main section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}


main section img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

main h2 {
    margin-bottom: 10px; 
}



/* Estilo para la sección de actividades */
#actividades {
    display: flex;
    justify-content: space-between; 
    gap: 1rem; 
}

.actividad {
    flex: 1; 
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.actividad img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 1rem; 
}

.actividad p {
    margin: 0; 
    padding: 0.5rem 0 0 0;
}




/* ****************************
 /      forum-styles     /
**************************** */



.message {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.message p {
    margin: 0;
}

.forum button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    width: 10rem; 
    
}

.forum button:hover {
    background-color: #45a049;
}
 




/* ***************************************************
 /     Estilos específicos para el formulario de suscripción   /
**************************** ************/



section {
    margin-bottom: 2rem;
    
    text-align: center;
  
}
#signup form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}

#signup input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 200px; 
}

#signup button {
    padding: 8px 16px; 
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    max-width: 200px;
}

#signup button:hover {
    background-color: #005f75;
}


/* ****************************
 /      footer-styles     /
**************************** */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

footer p {
    margin: 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}


  /* Estilos específicos para pantallas más pequeñas */
  @media screen and (max-width: 768px) {
    .footer {
        padding: 10px;
    }
}


 /* Estilos específicos para dispositivos móviles */
 @media screen and (max-width: 576px) {
    .footer {
        padding: 10px;
    }
}

/* Estilos específicos para tabletas */
@media screen and (min-width: 577px) and (max-width: 1024px) {
    .footer {
        padding: 15px;
    }
}








